.App {
  text-align: -webkit-auto;
  background-color:blanchedalmond;
  height: 40rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-link {
  color: #61dafb;
  
}


.image-todoist{
  border-style: none;
    height: 35px;
    margin-right: 700px;
    margin-left: 250px;
}
.color-code{
  color:coral;
}
.project-head{
  color: dodgerblue;
  width:60%;

}
.darkmode{
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  background-color: #333131;
  border-color: transparent;
  color:beige
}
.defaultmode{
  display: flex;
  justify-content: center;
  color: rgb(3, 3, 3);
  background-color: orangered;
}

.show-mouse:hover{
  z-index: 99;
    width: 300px;
    padding: 10px;
    top: 10px;
    right: 0;
    background-color: white; 
    
}

button{
  background-color:#7861fb
}
